<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Whiplash_Fulfillment>
            <version>0.0.1</version>
        </Whiplash_Fulfillment>
    </modules>
    <global>
        <models>
            <fulfillment>
                <class>Whiplash_Fulfillment_Model</class>
            </fulfillment>
        </models>
        <helpers>
            <fulfillment>
                <class>Whiplash_Fulfillment_Helper</class>
            </fulfillment>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <whiplash_fulfillment_product_observer>
                        <class>Whiplash_Fulfillment_Model_Observer</class>
                        <method>update_or_create_item</method>
                    </whiplash_fulfillment_product_observer>                    
                </observers>
            </catalog_product_save_after>
            <sales_order_invoice_pay>
                <observers>
                    <whiplash_fulfillment_order_observer>
                        <class>Whiplash_Fulfillment_Model_Observer</class>
                        <method>create_order</method>
                    </whiplash_fulfillment_order_observer>                    
                </observers>
            </sales_order_invoice_pay>
       </events>
    </global>
    <default>
        <whiplash>
            <api>
                <enabled>0</enabled>
                <key></key> <!-- No key by default-->
                <version></version> <!-- Latest Version (i.e. no value) by default-->
                <test_mode>1</test_mode> <!-- Test mode by default-->
            </api>
        </whiplash>
    </default>
</config>
