<?xml version="1.0"?>
<config>
    <sections>
        <whiplash>
        	<label>Whiplash</label>
        	<tab>catalog</tab>
        	<frontend_type>text</frontend_type>
            <sort_order>305</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api>
                    <label>API Configuration</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enable Whiplash</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                    	<key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </key>
                        <version translate="label">
                            <label>API Version</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fulfillment/adminhtml_system_config_source_apiversion</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
                        <default_store_to_update translate="label">
                            <label>Default Store to Update</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_store</source_model>
                            <comment>Select the store that will get updated by default when no specific store view is selected when saving a product</comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </default_store_to_update>
                        <test_mode translate="label">
                            <label>Test Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </test_mode>
                    </fields>
                </api>
            </groups>
        </whiplash>
    </sections>
</config>
